.catalog__wrapper {
  width: 320px;
}

.catalog__list {
  @include list-reset();
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.67;
  color: $black;
  padding-left: 22px;
}
