.main-nav {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
}

.main-nav__list {
  @include list-reset();
}

.main-nav__toggle {
  position: relative;
  border: none;
  width: 30px;
  height: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 3px;
    color: white;
    border-bottom: 3px solid $black;
    box-shadow: 0 8px 0 $black, 0 16px 0 $black;
  }
}
