.method__title {
  font-size: 36px;
  line-height: 1.67;
  text-align: left;
  color: $black;
}

.methods {
  @include list-reset();
}

.methods__item {
  background-color: $leaf;
  background-size: contain;
  background-repeat: no-repeat;

  &--materials {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--meal {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--changes {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.methods__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: $greyish-brown;
}
