.methodics__wrapper {
  padding: 0 20px;
  width: 320px;
}

.methodics__title {
  font-size: 36px;
  line-height: 1.67;
  text-align: left;
  color: $black;
  font-family: "Oswald Regular", sans-serif;
}
