.page-header {
  width: 320px;
  height: 65px;
  padding: 10px 20px;
  background-color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $grey-light;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}
